/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cormorant+Garamond:wght@500&family=Dancing+Script:wght@600&family=Mohave&family=Moon+Dance&family=Oleo+Script+Swash+Caps:wght@700&family=Solway&display=swap');

body{
    font-family: 'Solway', serif;
}
.contact_image{
    width: 140px;
    height: 150px;
    border-radius: 50%;
}
.contact_image-view{
    width: 200px;
    border-radius: 50%;
}